{
  "port": 7779,
  "deployerUrl": "http://deployer:7777",
  "analyzerUrl": "http://analyzer:5000",
  "gcpServiceAccountJSONFile": "/service_account/gcpServiceAccount.json",
  "writeResults": true,
  "filesPath": "/tmp/profiler",
  "userId": "hyperpilot",
  "workerCount": 5,
  "database": {
    "url": "mongo-serve:27017",
    "user": "analyzer",
    "password": "hyperpilot",
    "configDatabase": "configdb",
    "applicationCollection": "applications",
    "benchmarkCollection": "benchmarks",
    "nodeTypeCollection": "nodetypes",
    "previousGenerationCollection": "previousgenerations",
    "metricDatabase": "metricdb",
    "calibrationCollection": "calibration",
    "profilingCollection": "profiling",
    "sizingCollection": "sizing",
    "allInstanceCollection": "allinstance"
  },
  "store": {
    "type": "file"
  },
  "deployments": {
    "s3": {
      "bucketName": "workload-deploy-json",
      "awsId":"AKIAIMJUJ75EFI6SU2RA",
      "awsSecret":"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",
      "region": "us-east-1"
    }
  }
}
