{
  "port": 7779,
  "deployerUrl": "http://deployer:7777",
  "analyzerUrl": "http://analyzer:5000",
  "writeResults": true,
  "filesPath": "/tmp/profiler",
  "userId": "william",
  "workerCount": 5,
  "awsId": "AKIAIMJUJ75EFI6SU2RA",
  "awsSecret": "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",
  "database": {
    "url": "ds161262.mlab.com:61262",
    "user": "analyzer",
    "password": "hyperpilot",
    "configDatabase": "configdb",
    "applicationCollection": "applications",
    "benchmarkCollection": "benchmarks",
    "nodeTypeCollection": "nodetypes",
    "previousGenerationCollection": "previousgenerations",
    "metricDatabase": "metricdb",
    "calibrationCollection": "calibration",
    "profilingCollection": "profiling",
    "sizingCollection": "sizing",
    "allInstanceCollection": "allinstance",
    "deploymentCollection": "deployments"
  },
  "store": {
    "type": "simpledb",
    "region": "us-east-1",
    "domainPostfix": "test"
  }
}
