{
  "port": 7779,
  "deployerUrl": "http://internal-deployer-605796188.us-east-1.elb.amazonaws.com:7777",
  "userId": "tim",
  "writeResults": true,
  "filesPath": "/tmp/profiler",
  "database": {
    "url": "internal-mongo-elb-624130134.us-east-1.elb.amazonaws.com:27017",
    "user": "profiler",
    "password": "hyperpilot",
    "configDatabase": "configdb",
    "applicationCollection": "applications",
    "benchmarkCollection": "benchmarks",
    "benchmarkMappingCollection": "benchmarkmappings",
    "metricDatabase": "metricdb",
    "calibrationCollection": "calibration",
    "profilingCollection": "profiling"
  }
}
